body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background-color: #f5f5f5;
    font-weight: 300; /* Thinner body text */
}

h2 {
    font-weight: bold;
    font-size: 2.5rem;
}

p, li {
    font-size: 1.3rem;
}

.navbar {
    background: #1f1e26;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.navbar a {
    color: #fff;
    /*font-weight: 600;  Slightly bold for readability */
}


.navbar a:hover {
    color: #a2d43d;
}

.navbar a.active {
    color: #fff; 
}

.navbar ul, .navbar li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-item li {
    list-style: none;

}

.navbar-brand {
    font-weight: 900;
    font-size: 1.8rem; 
}

a.navbar-brand {
    color: #fff;
}

a.navbar-brand:hover {
    color: #a2d43d;
    transition: 1s;
}

header {
    /*background: #fff; */
    background: url(asset/img/technical-drawing-background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #222;
    padding: 100px 20px; 
    text-align: left;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    font-weight: thin;
    position: relative;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,.9);
  z-index: 1;
}

header h1 {
    margin: 0;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.2;
    color: #000;
}

header h3 {
        line-height: 2.5rem;
}

header p {
    margin: 10px 0 30px;
    font-size: 1.2rem;
    color: #555; 
}

.navbar-nav p {
    color: #fff;
    margin: 0;
    padding: 0.2em;
    font-size: 1.4rem;
}


/*.hero h1, .hero h2, .hero h3, .hero h4, .hero p, .hero a {
    color: #fff;
}*/

.hero h1, .hero h2, .hero h3, .hero h4, .hero p {
    background-color: #fff;
}

.hero .container {
    z-index: 2;
}

.btn {
    color: #000;
    font-size: 1.5rem;
    padding: .8rem 2rem;
    margin: 0 1rem ;
    text: uppercase;
}

.btn-success {
    background-color: #a2d43d;
    border-color: #000;
}

.btn-success:hover {
    background-color: #7CB342;
    border-color: #FFF;
}

.btn-light {
    border-color: #000;
    background-color: #fff;
}

section {
    padding: 35px 20px;
    margin: auto;
}

.services, .testimonials {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
}

.service-item, {
    flex: 1 1 calc(33.333% - 20px);
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease-in-out; 
}

.service-item:hover, .portfolio-item:hover {
    transform: translateY(-10px); 
}

.card img {
    width: 200px; 
    height: auto;
}

footer {
    text-align: center;
    padding: 10px 10px;
    background: #222;
    color: #fff;
    margin-top: 80px; 
}

.cta {
    text-align: center;
}

h2 {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.audience .card {
    max-width: 400px;
}

li, ul {
    font-size: 1.3rem;
    padding: 0.2em;
    list-style: none;
    padding-left: 0;
}

.audience li {
    margin: 8px;
}

strong {
    font-weight: bold;
}

.audience .icon-wrap {
  width: 60px;
  height: 60px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  background: #f3f4f6;
}

.audience .card-title { margin-bottom: .25rem; }

@media (max-width: 575px) {
  .audience .icon-wrap { width: 48px; height: 48px; }
  .audience .fa-2x { font-size: 1.25rem; }
}

.strength i {
    color: #8ac926;
}

.accordion-button i {
    padding-left: .5rem;
}

.accordion-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    padding: 1rem;
}

.accordion-button::after {
    display: none;
}

.accordion-header {
    padding: 0;
}

.accordion-button:not(.collapsed) {
    background-color: #dee2e6;
    color: #000;
}

.accordion-button:hover, .accordion-header:hover {
    background-color: #e9ecef;
    transition: 0.2s;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-body {
    padding: 0;
    padding-left: 1rem;
    padding-top: 1rem;
}

.accordion-body ul, li {
    font-size: 1.2rem;
    padding: 0;
    list-style-position: inside;
    list-style-type: square;
}


 .cta a {
  font-size: 1.3rem; 
  font-weight: 600;
  padding: 14px 32px;  
  background-color: #8BC34A; 
  color: #000;
  border-radius: 8px;
  border-color: #000;
  text-decoration: none;
}

 .cta a:hover {
  background-color: #7CB342;
  transform: translateY(-2px);
  color: #fff;
  border-color: #fff;
}

.modal-body {
  overflow-y: auto;
}

.modal-body::-webkit-scrollbar-thumb {
  background-color: #555; /* thumb color */
  border-radius: 4px;
  border: 2px solid #f0f0f0; /* optional padding around thumb */
}


/* Scrollbar on hover (optional) */
.modal-body::-webkit-scrollbar-thumb:hover {
  background-color: #333;
}

a {
    color: #8BC34A;
    text-decoration: none;
}

li, ul {
    font-size: 1.3rem;
    padding: 0.2em;
    list-style: none;
    padding-left: 0;
}